In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("loan_dataset.csv")

In [4]:
df.head()

,Loan_ID,Customer_ID,Product_Type,Loan_Amount,Loan_Start_Date,Loan_End_Date,Interest_Rate,Customer_Age,Customer_Location,Loan_Status,Repayment_Frequency,Late_Payments,Credit_Score,Repayment_History
0,L000001,C19987,Gold Loan,732944.64,2017-01-23 13:10:30,2020-01-23 13:10:30,10.31,48,Goa,Active,Quarterly,1,567,Good
1,L000002,C14789,Loan,404104.67,2015-08-13 13:10:30,2018-08-12 13:10:30,4.26,63,Goa,Defaulted,Yearly,4,786,Poor
2,L000003,C13687,Gold Loan,688453.48,2023-08-09 13:10:30,2030-08-07 13:10:30,4.96,26,Maharashtra,Closed,Yearly,2,757,Excellent
3,L000004,C17733,Microlending Loan,249579.34,2020-02-16 13:10:30,2028-02-14 13:10:30,10.47,45,Maharashtra,Active,Yearly,2,524,Good
4,L000005,C46634,Investment Insurance,405819.07,2016-11-02 13:10:30,2022-11-01 13:10:30,10.29,4,Delhi,Defaulted,Yearly,1,404,Poor

In [8]:
df.shape

(15000, 14)

In [5]:
df.dropna(inplace=True)  # Remove rows with missing values
df.drop_duplicates(inplace=True)  # Remove duplicates

In [9]:
df.isnull().sum()

Loan_ID                0
Customer_ID            0
Product_Type           0
Loan_Amount            0
Loan_Start_Date        0
Loan_End_Date          0
Interest_Rate          0
Customer_Age           0
Customer_Location      0
Loan_Status            0
Repayment_Frequency    0
Late_Payments          0
Credit_Score           0
Repayment_History      0
dtype: int64

In [10]:
# Convert dates to datetime format
df['Loan_Start_Date'] = pd.to_datetime(df['Loan_Start_Date'])
df['Loan_End_Date'] = pd.to_datetime(df['Loan_End_Date'])

In [12]:
df.columns

Index(['Loan_ID', 'Customer_ID', 'Product_Type', 'Loan_Amount',
       'Loan_Start_Date', 'Loan_End_Date', 'Interest_Rate', 'Customer_Age',
       'Customer_Location', 'Loan_Status', 'Repayment_Frequency',
       'Late_Payments', 'Credit_Score', 'Repayment_History'],
      dtype='object')

In [13]:
# Loan Tenure in months
df['Loan_Tenure'] = ((df['Loan_End_Date'] - df['Loan_Start_Date']).dt.days) / 30

In [14]:
# Monthly EMI (using the formula: EMI = P * r * (1 + r)^n / ((1 + r)^n - 1))
# Where:
# P = Loan Amount
# r = Interest rate / 12 (monthly rate)
# n = Loan tenure (months)
def calculate_emi(amount, rate, tenure):
    r = rate / 12 / 100  # monthly interest rate
    n = tenure  # months
    emi = amount * r * (1 + r)**n / ((1 + r)**n - 1)
    return emi

In [15]:
df['Monthly_EMI'] = df.apply(lambda row: calculate_emi(row['Loan_Amount'], row['Interest_Rate'], row['Loan_Tenure']), axis=1)

In [16]:
# Late Payment Ratio
df['Late_Payment_Ratio'] = df['Late_Payments'] / df['Loan_Amount']

In [17]:
df[['Loan_Start_Date', 'Loan_End_Date', 'Loan_Tenure']].head()

      Loan_Start_Date       Loan_End_Date  Loan_Tenure
0 2017-01-23 13:10:30 2020-01-23 13:10:30    36.500000
1 2015-08-13 13:10:30 2018-08-12 13:10:30    36.500000
2 2023-08-09 13:10:30 2030-08-07 13:10:30    85.166667
3 2020-02-16 13:10:30 2028-02-14 13:10:30    97.333333
4 2016-11-02 13:10:30 2022-11-01 13:10:30    73.000000

In [24]:
df.head()

,Loan_ID,Customer_ID,Product_Type,Loan_Amount,Loan_Start_Date,Loan_End_Date,Interest_Rate,Customer_Age,Customer_Location,Loan_Status,Repayment_Frequency,Late_Payments,Credit_Score,Repayment_History,Loan_Tenure,Monthly_EMI,Late_Payment_Ratio
0,L000001,C19987,Gold Loan,732944.64,2017-01-23 13:10:30,2020-01-23 13:10:30,10.31,48,Goa,Active,Quarterly,1,567,Good,36.500000,23479.019789,0.000001
1,L000002,C14789,Loan,404104.67,2015-08-13 13:10:30,2018-08-12 13:10:30,4.26,63,Goa,Defaulted,Yearly,4,786,Poor,36.500000,11823.745314,0.000010
2,L000003,C13687,Gold Loan,688453.48,2023-08-09 13:10:30,2030-08-07 13:10:30,4.96,26,Maharashtra,Closed,Yearly,2,757,Excellent,85.166667,9606.234535,0.000003
3,L000004,C17733,Microlending Loan,249579.34,2020-02-16 13:10:30,2028-02-14 13:10:30,10.47,45,Maharashtra,Active,Yearly,2,524,Good,97.333333,3815.771106,0.000008
4,L000005,C46634,Investment Insurance,405819.07,2016-11-02 13:10:30,2022-11-01 13:10:30,10.29,4,Delhi,Defaulted,Yearly,1,404,Poor,73.000000,7502.509497,0.000002